version: "3.9"

networks:
  app-network:
    driver: bridge

services:

  backend:
    container_name: lotus-backend
    image: zaheya10/lotus-backend:latest
    restart: unless-stopped
    ports:
      - "3001:3000"
    env_file:
      - ./backend/.env
    networks:
      - app-network

  frontend:
    container_name: lotus-frontend
    image: zaheya10/lotus-frontend:latest
    restart: unless-stopped
    ports:
      - "8080:80"
    networks:
      - app-network